BODY {
	background: white;
	background-image: url("pictures/back_cloud_1.png");
	color: #444
}
H1,H2,H3,H4,H5,H6 { color: #ff9900; font-family: impact }
H1 { font-size: 36px }
H2 { font-size: 30px }
H3 { font-size: 24px }
H4 { font-size: 18px }
H5 { font-size: 14px }
H6 { font-size: 10px }
A { text-decoration: none; font-weight: bold }
A:link { color: #4444ff }
A:active { color: #44f }
A:visited { color: #555 }
A:hover { background: #ffff66 }
A:link:hover { background: #ff9900; color: #222; }
A:active:hover { background: #ff9900; color: #222; }
A:visited:hover { background: #ff9900; color: #222; }
P.title {
	color: #ff9900;
	font-size: 40px;
	text-decoration: bold;
	text-align: center;
}
P.subtitle {
	color: #ff5500;
	font-size: 20px;
	text-decoration: bold;
	text-align: center;
}
P.center{
	text-align: center;
}
P.subscript {
	font-size: 10px;
}
PRE.origtext {
	font-size: 12px;
	color: #444444;
}
TD.newsdate {
	color: #888;
	background: white;
	background-image: url("pictures/back_cloud_1.png");
}
TD.newsitem {
	color: #888;
	background: white;
	background-image: url("pictures/back_cloud_1.png");
}
TD.tlaword {
	color: #888;
	background: #111111;
}
TD.tladesc {
	color: #888;
	background: #333333;
}

table {
	color:#888
	background-image: url("pictures/back_cloud_1.png");
}
caption {
	background:#000000;
	color:#888;
	text-align: center;
	padding-bottom:10px;
	font-weight:bold
}
th {
	text-align:center;
	font-weight:bold;
	font-size:25px;
	padding-top:15px;
	padding-bottom:15px
	background: white;
	background-image: url("pictures/back_cloud_1.png");
}
tr {
	background: white;
	background-image: url("pictures/back_cloud_1.png");
}
td {
	background: white;
	background-image: url("pictures/back_cloud_1.png");
	text-align:left;
	font-style:italic;
	color:888;
	padding-left:15px
}

